<script type="text/javascript" charset="utf-8">
var webID = 0;

function webLogin(theForm)
{
    $.get('webLogin.js?nick=' + theForm.nickname.value, function(resp)
    {
        if (resp == 0)
        {
            alert("Invalid username, try something alphanumeric that is not in use");
            return false;
        }
        webID = resp;
        $("#indexChatLoginForm").hide();
        $("#indexChatMessageForm").show();
        $("#indexChatUserBox").show();
        $("#indexChatBox").text('');
        $("#indexChatBox").autoscroll();
        $("#indexChatMessageInput").focus();
        waitForMsg(); /* Start the inital request */
    });
}

function waitForMsg()
{
    $.get('userList.js', function(resp) { $("#indexChatUserList").html(resp); });

    $.ajax({
        type: "GET",
        url: "webChat.js?id=" + webID,
        async: true,
        cache: false,
        timeout: 60000,
        success: function(msg)
        {
            if (msg != '')
            {
                $("#indexChatBox .newMsg").removeClass('newMsg').addClass('oldMsg');
                $("#indexChatBox").append("<span class='newMsg'>" + msg + "</span>");
            }
            setTimeout('waitForMsg()', "500");
        },
        error: function(XMLHttpRequest, textStatus, errorThrown)
        {
            setTimeout('waitForMsg()', "1500");
        },
    });
}

function sendMsg(theForm)
{
    $.ajax({
        type: "GET",
        url: 'webSay.js?id=' + webID + '&msg=' + theForm.message.value,
        async: true,
        cache: false,
        timeout: 15000,
        success: function(resp)
        {
            theForm.message.value = '';
        },
        error: function(XMLHttpRequest, textStatus, errorThrown)
        {
            alert("Somebody done gone messed up the webs...\n\nCould not connect to Awesome Chat (try refreshing the page)");
        },
    });
}
</script>
